@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
	--Headings: 'DM Serif Display', serif;
	--Body: 'Karla', sans-serif;

	/* Primary */
	--DarkViolet: hsl(256, 26%, 20%);
	--GrayishBlue: hsl(216, 30%, 68%);

	/* Neutral */
	--VeryDarkViolet: hsl(270, 9%, 17%);
	--DarkGrayishViolet: hsl(273, 4%, 51%);
	--VeryLightGray: hsl(0, 0%, 98%);
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--Headings);
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-size: 16px;
	font-family: var(--Body);
}

/* NAVBAR */
.navbar {
	font-weight: 700;
}

.brand_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn_toggle:active,
.btn_toggle:focus,
.btn_toggle {
	outline: none;
	border: 0;
	background-color: transparent;
}

.collapse_nav {
	display: none;
}

.show {
	display: block;
	padding-top: 1rem;
}

.show_toggle {
	display: none;
}

.nav_link {
	color: var(--VeryLightGray);
	text-transform: uppercase;
}

.btn_nav {
	border: 2px solid var(--VeryLightGray);
}

@media screen and (min-width: 320px) {
	.brand_header {
		padding: 1rem 2rem;
	}

	.collapse_nav {
		background-color: var(--VeryDarkViolet);
		text-align: center;
		height: 100vh;
		background-image: url('./images/bg-pattern-mobile-nav.svg');
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
	}

	.navbar_ul {
		margin: 0 auto;
		width: 80%;
	}

	.nav_item {
		padding: 1rem 0;
	}
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 80%;
		padding: 1rem 0;
	}

	.brand_header {
		padding: 0;
	}

	.btn_toggle {
		display: none;
	}

	.collapse_nav {
		height: auto;
		background-color: transparent;
		text-align: start;
		background-image: none;
		display: flex;
	}

	.navbar_ul {
		display: flex;
		flex: 2;
		align-items: center;
	}

	.nav_item {
		margin-right: 1rem;
		padding: 0;
	}

	.nav_link {
		color: var(--DarkGrayishViolet);
	}

	.btn_nav {
		border: 2px solid var(--DarkViolet);
		padding: .5rem 2rem;
	}

	.btn_nav .nav_link {
		color: var(--DarkViolet);
	}

	.nav_item:hover .nav_link {
		color: var(--DarkViolet);
	}

	.btn_nav:hover {
		background-color: var(--DarkViolet);
	}

	.btn_nav:hover .nav_link {
		color: var(--VeryLightGray);
	}
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1248px) {
}

.show_wrapper {
	display: none;
}

/* NAVBAR */

.top_section_bg {
	margin-bottom: 12rem;
	position: relative;
	background-color: var(--DarkViolet);
}

.top_section {
	display: grid;
	grid-template-areas: "img" "text";
}

.top_section .column_1 {
	grid-area: text;
	color: var(--VeryLightGray);
	text-align: center;
	background-image: url(./images/bg-pattern-intro-left-mobile.svg);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 5rem 1rem;
}

.top_section .column_1 .title {
	font-size: 2.4em;
	margin-bottom: 1rem;
}

.top_section .column_1 .text {
	margin-bottom: 2rem;
	font-size: 1em;
	line-height: 1.5;
}

.top_section .column_2 {
	grid-area: img;
	position: relative;
}

.top_section .column_2 .image {
	width: 100%;
}

.top_section .column_1 .line {
	display: none;
}

.btn {
	border: 2px solid var(--VeryLightGray);
	color: var(--VeryLightGray);
	padding: .5rem 2rem;
	background-color: transparent;
	font-family: var(--Headings);
	font-weight: 400;
}

.btn:hover {
	background-color: var(--VeryLightGray);
	color: var(--DarkViolet);
}

.top_section_bg .right-bg-movil {
	position: absolute;
	right: 0;
	right: 0;
	bottom: -230px;
}

.top_section_bg .right-bg-desktop {
	display: none;
}

.top_section_bg .left-bg-desktop {
	display: none;
}

@media screen and (min-width: 1024px) {
	.top_section_bg {
		padding: 100px 0 0;
	}

	.top_section {
		grid-template-areas: "text img";
		grid-template-columns: repeat(2, 1fr);
		margin: 0 auto;
		width: 80%;
		grid-gap: 30px;
	}

	.top_section .column_2 .image {
		position: absolute;
		width: 400px;
		/* top: 82px; */
	}

	.top_section .column_1 {
		text-align: start;
		background-image: none;
		padding: 5rem 1rem;
	}

	.top_section .column_1 .line {
		display: block;
		background-color: var(--VeryDarkViolet);
		margin-bottom: 2rem;
		width: 30%;
	}

	.top_section .column_1 .title {
		font-size: 3.2em;
	}

	.top_section .column_1 .text {
		margin-bottom: 2rem;
		font-size: .95em;
		line-height: 1.8;
	}

	.top_section_bg .right-bg-movil {
		display: none;
	}

	.top_section_bg .right-bg-desktop {
		display: inline-block;
		position: absolute;
		top: -75px;
		right: 0;
		width: 28%;
		clip-path: polygon(0 15%, 100% 15%, 100% 100%, 0 100%);
	}

	.top_section_bg .left-bg-desktop {
		display: inline-block;
		position: absolute;
		bottom: -300px;
	}
}

@media screen and (min-width: 1248px) {
	.top_section .column_1 .title {
		font-size: 4.2em;
	}

	.top_section .column_2 .image {
		top: 82px;
	}
}

.container {
	margin: 0 auto;
	width: 85%;
}

.section_1 {
	text-align: center;
	margin-bottom: 4rem;
}

.line {
	width: 35%;
	margin: 0 auto 2rem;
}

.article_diferent {
	margin-bottom: 2rem;
}

.section_1 .title {
	font-size: 2.4em;
	margin-bottom: 5rem;
	color: var(--VeryDarkViolet);
}

.article_diferent .icon_article {
	margin-bottom: 2rem;
}

.section_1 .article_diferent .title {
	font-size: 1.56em;
	margin-bottom: 2rem;
	color: var(--VeryDarkViolet);
}

.section_1 .article_diferent .text {
	color: var(--GrayishBlue);
	font-size: .95em;
	line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
	.section_1 {
		text-align: left;
	}

	.line {
		width: 15%;
		margin: 0 0 2rem;
	}

	.article_container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
	}

	.section_1 .title {
		font-size: 4.5em;
	}

	.section_1 .article_diferent .text {
		font-size: 1em;
	}
}

.before_footer {
	background-color: var(--DarkViolet);
	color: var(--VeryLightGray);
	margin-bottom: 4rem;
	position: relative;
	padding: 3rem 1.8rem;
	text-align: center;
	background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
	background-repeat: no-repeat;
	background-position: top right;
}

.before_footer .title {
	font-size: 2em;
	margin-bottom: 2.5rem;
}

@media screen and (min-width: 1024px) {
	.before_footer {
		text-align: left;
		background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
		padding: 3rem 5rem;
		display: grid;
		justify-content: space-between;
		align-items: center;
		grid-template-columns: auto auto;
		grid-gap: 160px;
	}

	.before_footer div {
		display: flex;
		justify-content: flex-end;
	}

	.before_footer .title {
		font-size: 2.8em;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1248px) {
	.before_footer {
		grid-gap: 350px;
	}
}

.footer {
	background-color: var(--VeryLightGray);
	background-image: url(./images/bg-pattern-footer-mobile.svg);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 5rem 0 3rem;
}

.footer .column_1 {
	text-align: center;
}

.footer .column_1 img {
	margin-bottom: 2rem;
}

.footer .column_1 ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .column_1 ul li {
	margin: 0 1rem;
}

.footer .column_1 ul li:hover > img {
	filter: brightness(0) invert(0);
}

.footer .line {
	width: 100%;
	border-color: var(--VeryLightGray);
}

.footer .column_2 {
	text-align: center;
}

.footer .column_2 .title {
	font-size: 1em;
	letter-spacing: 4px;
	color: var(--DarkGrayishViolet);
	margin-bottom: 2rem;
	font-weight: 700;
	font-family: var(--Body);
}

.footer .column_2 ul {
	margin-bottom: 3rem;
}

.footer .column_2 ul li {
	font-size: .9em;
	letter-spacing: 3px;
	color: var(--VeryDarkViolet);
	font-weight: 700;
	margin-bottom: .5rem;
}

.footer .section_1 {
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.footer {
		background-size: contain;
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		background-image: url(./images/bg-pattern-footer-desktop.svg);
		padding: 4rem 0 3rem;
	}

	.footer .column_1 {
		text-align: left;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer .column_2 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	.footer .column_2 {
		text-align: left;
	}

	.footer .column_2 ul {
		margin-bottom: 0;
	}
}

.attribution {
	font-size: 1em;
	text-align: center;
	color: var(--VeryDarkViolet);
}
.attribution a {
	color: var(--DarkGrayishViolet);
}
